div#comparison { 
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	width: 60vw;
	height: 60vw;
	max-width: 600px;
	max-height: 80px;
	/*overflow: hidden; */
}
div#comparison figure { 
	background-image: url('../img/red.png');
	background-size: cover;
	font-size: 0;
	width: 100%;
	height: 100%;
	margin: 0; 
}
div#comparison figure > img {
	position: relative;
	width: 100%;
}
div#comparison figure div { 
	background-image: url('../img/black.png');
	background-size: cover;
	/*position: absolute;*/
	width: 50%; 
	/*box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);*/
	overflow: hidden;
	bottom: 0; 
	height: 100%;
}

input[type=range]{
	-webkit-appearance:none;
	-moz-appearance:none;
	position: relative;
	top: -9rem; left: 0%;
	background-color: rgba(63,63,63,0.1);
	width: 100%; 
}
input[type=range]:focus { 
	outline: none;
}
input[type=range]:active {
	outline: none;
}
/*input[type=range]::-moz-range-track {
	-moz-appearance:none;
	height:15px;
	width: 98%;
	background-color: rgba(255,255,255,0.1); 
	position: relative;
	outline: none;    
}*/
input[type=range]::active {
	border: none;
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance:none;
	width: 5px;
	height: 100px;
	background: #666;
	border-radius: 0 0 0 0;
}
input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
	width: 5px;
	height: 100px;
	background: #666;
	border-radius: 0 0 0 0;
}   
input[type=range]:focus::-webkit-slider-thumb {
	background: #666;
}
input[type=range]:focus::-moz-range-thumb {
	background: #666;
}
/* Laura's additions */

#slavery-barchart {
	margin-top: 30px;
}
#slider-info {
	padding-top: 60px;
	padding-right: 10%;
	font-size:18px;
}
#bar-leftcol{
	margin-top: 60px;
}

#slider-legend{
	background-color: #535353;
	padding: 20px 20px 20px 20px;
}
#percent-text {
	color: #762a23;
	text-align: center;
	font-size: 28px;
}
#percent {
	color: #762a23;
	text-align: center;
	font-size: 28px;
}
#section4-title h1 {
	text-align: left;
	margin-top: 50px;
	margin-bottom: 30px;
}