

body {
  font-family: 'Helvetica Neue', sans-serif;
}

h5{
   margin-top: 50px;
   font-size: 40px;
}

h6 {
   font-size: 18px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 20px;

}

#globeImage {
   margin-top: 20px;
}

h1 {
  font-weight: 100;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 20px;
    color: #FFF;

}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: rgba(253, 211, 253, 0.1);
	font-weight: 300;
}
.quote {
    border-left: white 1px;

}
.overlay {
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    /**text, adjust as req'd**/
    padding-left: 5%;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    font-size: 20px; /**some fallback value**/
    font-size: 5.4vw; /**responsive size**/
}

/* Tree Layout */

#tree {
    text-align: center;

}

.node circle {
    stroke: #a06965;
    stroke-width: 5px;
    fill: #a06965;
}

.node text {
    font-size: 18px;
    font-family: Helvetica;
    font-weight: lighter;
    fill: white;

}


.link {
    fill: none;
    stroke: rgba(163, 163, 163, 0.5);
    stroke-width: 5px;
}
.tree-caption {
    text-align: center;

}

/* Centered texts in each section
            * --------------------------------------- */
.section2{
    text-align:center;
    overflow: hidden;
    font-size : 150px;
    font-style: oblique;
    color : rgb(51, 51, 51);

}

text{
    font-family: "Gotham SSm";

}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.st0
{
    background : #FFFFFF;
    background : rgba(255, 255, 255, 1);
    opacity : 0.57;
    filter: alpha(opacity=57) progid:DXImageTransform.Microsoft.Alpha(opacity=57) ;

}

#section1 text {
    font-family: 'Helvetica Neue';
    font-weight: lighter;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
    overflow: hidden;
}

#section1 {
    background: url("child-labour.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
}
#section2 {
    /*background: url("child-labour-header.png");*/
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

/* Adapted from https://github.com/Caged/d3-tip/tree/master/examples */
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 1;
    color: rgba(241, 241, 241, 0.9);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

#slavery-barchart text {
    fill: white;
}